@charset "UTF-8";

/*------------------------
          MAIN
-------------------------*/

html {
  font-size: 14px;
  height: 100%;
  background-color: #000;
}

body {
    font-family: "lucida grande", sans-serif;
    color: #fff;
    line-height: 1.5;
    background-color: #fff;
    background-image: url("../img/background.gif");
}


/*------------------------
       TYPOGRAPHY
-------------------------*/

.alpha{
    margin: 22px 0 8px;
    font-size: 40px;
    line-height: 1.16667;
}

.beta{
    color: #2badd9;
    font-size: 14px;
    line-height: 1.3;
}

.gamma{
    color: #fff;
    font-size: 16px;
    text-align: center;
}

p{
    margin: 14px 0;
    font-size: 14px;
    line-height: 1.5;
}




/*---------------------
    CONTENT: HEADER
---------------------*/


  .red{
    color: #e51b24;
  }

  .mars-img{
    max-width: 100%;
  }
  
/*-------------------
   CONTENT: PANELS
--------------------*/

  .panels{
    /*height: 200px;*/
  }

  .panel{
    border: 1px solid #2badd9;
    text-align: center;
    padding: 10px;
    margin-bottom: 200px;
  }

  .panels .row .col-xs-12{
    margin-top: 20px;
  }

  img{
    max-width: 100%;
  }
